.form-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 80px;
}

.form-title {
  margin-bottom: 50px;
  font-size: 130px;
  font-weight: 500;
  font-family: "inherit";
  font-style: bold;
}

.title-input {
  font-size: 35px;
  padding: 5px;
  font-weight: 400;
  font-family: "inherit";
  font-style: bold;
}
